@model BookStore.Models.Book

@{
    ViewBag.Title = "Book - " + Model.Title;
}

<h2>@Model.Title</h2>

<p>
   <img alt="@Model.Title" src="@Model.PathImage" />
</p>

<div id="album-details">
   <p>
       <em>Author:</em>
       @Model.Author
   </p>
   <p>
       <em>Price:</em>
       $ @String.Format("{0:F}", Model.Price)
   </p>
    <p>
       <em>Summary:</em>
       <div style="text-align:justify">@Model.Summary</div>
   </p>
   <p class="button">
       @if (!(ViewBag.returnUrl == null) ) {
       @Html.ActionLink("Back", null, null, null, new {Href = ViewBag.returnUrl})
       } else {
       @Html.ActionLink("Back to Store","Index","Home",new { page = ViewBag.page },"")
       }
       @Html.ActionLink("Add to cart", "AddToCart", 
       "ShoppingCart", new { id = Model.Id , page = ViewBag.page }, "")
   </p>
</div>